
<section class="predict-page">
  <h1>Prediction</h1>
  <input v-model="asin" placeholder="ASIN" style="margin-top: 3rem; margin-bottom: 10rem;">
  <select v-model="price">
    <option disabled selected>Price</option>
    <option v-for="p in prices">{{p}}</option>
  </select>
  <button @click="onPredict()">Predict</button>
  <price-chart :priceDefined="priceDefined" :isLoading="isLoading" :price="price" :priceHistory="dataList" :pricePrediction="predList" @startLoading="onStartLoading()" @stopLoading="onStopLoading()"/>
</section>
